---
import BaseHead from "../components/baseHead.astro"
import Navbar from "../components/Navbar.astro"

const {title} = Astro.props
---
<BaseHead title={title}/>
	<body>
<Navbar></Navbar>
		<div class="max-w-screen-2xl mx-auto flex flex-col">
			<slot></slot>
		</div>
	</body>
</html>
